/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
@font-face {
  font-family: Larsseit;
  src:  url('fonts/Larsseit/Larsseit.otf') format('otf');
}
body {
  margin: 0;
  font-family: Larsseit, serif;
}
/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

a {
  text-decoration: none;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: Cozey-Regular;
  src:  url('fonts/QuincyCF/quincycf.otf') format('otf');
}
@font-face {
  font-family: HafferXH-Regular;
  src:  url('fonts/Larsseit/Larsseit.otf') format('otf');
}
.container {
  position: relative;
  z-index: 997;
  background-color: rgb(247, 248, 246);
  top: 0px;
}
.container-header {
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 0px 0px 16px;
  background: rgb(247, 248, 246);
  transition: all 0.15s ease-in-out 0s;
  z-index: 9999999;
}
.container-responsive {
  padding: 12px 80px 0;
}
@media (min-width: 1440px){
  .container-responsive{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1280px){
  .container-responsive {
    padding: 16px 80px 0;
  }
}
@media (max-width: 768px){
  .container-responsive {
    padding: 14px 16px 0;
  }
}
.container-header-flex {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px;
}
.container-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.container-box-title {
  margin: 0px;
  font-size: 60px;
  font-family: Cozey-Regular, serif;
  color: rgb(11, 35, 65);
  padding-bottom: 0px;
}
.container-box-description {
  font-family: HafferXH-Regular, serif;
  color: rgb(25, 20, 43);
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
.container-menu {
  display: flex;
  flex-direction: row;
  height: 32px;
  background: rgb(236, 235, 231);
  gap: 10px;
  width: fit-content;
  border-radius: 24px;
  overflow: hidden;
  padding: 8px;
}
.container-link {
  height: 63%;
  background: transparent;
  font-family: HafferXH-Regular, serif;
  font-size: 15px;
  padding: 6px 16px;
  color: rgb(11, 35, 65);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  white-space: nowrap;
}
a.active {
  background-color: rgb(11, 35, 65);
  color: rgb(255, 255, 255);
}

/*
 * Sections
 */
.section-header {
  margin: 0px auto;
  max-width: 1440px;
  padding: 32px 80px 0px;
}
.section-title {
  font-family: Cozey-Regular, serif;
  font-size: 48px;
  color: rgb(43, 44, 110);
}
.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  /*justify-content: center;*/
  gap: 40px;
  margin: 0px auto;
  max-width: 1440px;
  padding: 16px 80px;
}
@media (max-width: 1024px) {
  .section-container {
    justify-items: center;
    gap: 40px;
    padding: 16px 24px;
  }
}
@media (max-width: 768px) {
  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 0px;
  }
}
@media (max-width: 425px) {
  .section-container {
    display: flex;
    grid-template-columns: unset;
    padding: 15px;
    column-gap: 16px;
  }
}
.section-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 12px;
  width: 400px;
  height: 100%;
}
.box-image {
  position: relative;
  width: 400px;
  height: 300px;
  aspect-ratio: auto;
}
.image {
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid rgb(236, 235, 231) !important;
}
.box-detail {
  position: absolute;
  bottom: 12px;
  z-index: 999;
  right: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  padding: 6px 6px 6px 10px;
  gap: 8px;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(208, 206, 196);
  border-radius: 100px;
  cursor: pointer;
}
.box-tag {
  position: absolute;
  top: 16px;
  left: 16px;
}
.box-tag-flex {
  display: inline-flex;
  padding: 8px 12px;
  background: rgb(179, 164, 155);
  border-radius: 16px;
  max-width: fit-content;
}
.box-tag-txt {
  color: rgb(255, 255, 255);
  font-family: HafferXH-Regular, serif;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.box-detail-txt {
  font-family: HafferXH-SemiBold, serif;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  text-align: right;
  color: rgb(79, 96, 118);
}
.box-detail-color {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: rgb(173, 173, 183);
}
.section-box-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 400px;
}
.section-box-footer-title {
  display: block;
  width: 400px;
  font-size: 16px;
  line-height: 19px;
  font-family: HafferXH-SemiBold, serif;
  color: rgb(11, 35, 65);
  cursor: pointer;
}
.section-box-footer-description {
  height: 18px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}
.section-box-footer-price {
  font-family: HafferXH-Regular, serif;
  font-size: 14px;
  line-height: 17.56px;
  color: rgb(83, 84, 138);
  white-space: nowrap;
}
.section-box-footer-pipe {
  font-family: HafferXH-Regular, serif;
  font-size: 14px;
  line-height: 17.56px;
  color: rgb(79, 96, 118);
}
.section-box-footer-custom {
  position: relative;
  font-family: HafferXH-Bold, serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  top: 0px;
  cursor: pointer;
  color: rgb(105, 162, 255)
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media (max-width: 991px) {
  :root {
    font-size: 93.75%;
  }
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /*a,*/
  /*a:visited {*/
  /*  text-decoration: none;*/
  /*}*/

  /*a[href]::after {*/
  /*  content: " (" attr(href) ")";*/
  /*}*/

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

